// VARIABLES
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


// FONTS
$fontFamily: 'Roboto', sans-serif;


// MAIN COLORS
$primaryColor: #ffffff;
$secondaryColor: #d2d2d2;
$complementaryColor: #000000;
$highlightColor: #8b8b8b;
$brandSkewColor: #212121;
$backgroundMute: #3a3a3a75;


// SAPCE
$space: 1rem;
$spaceHalf: 0.5rem;
$spaceOneHalf: 1.5rem;
$spaceDouble: 2rem;


// BORDER
$darkBorder: 1px solid $brandSkewColor;
$lightBorder: 1px solid $highlightColor;
$borderRadius: 10px;
$buttonBorderRadius: 50%;

// SHADOW
$shadow: 0 0 15px rgba(0,0,0,0.5);



// SHADOW
$shadow: 0 0 15px rgba(0,0,0,0.5);