@use '../../styles/scss/abstracts/index' as *;

/* CSS for modal content */
.modalContent {
  background-color: $primaryColor;
  min-width: 700px;
  margin: 0 auto;
  position: absolute;
  bottom: -400px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: $borderRadius;
  box-shadow: $shadow;
  z-index: 1000;
  animation: slide-up 0.5s ease forwards;
  padding: 2rem;

  @media screen and (max-width: 768px) {
    min-width: 70%;
    transform: translate(-50%, -30%);
  }
}

.modalContent.full-screen {
  animation-name: fade-in; 
  position: fixed;
  top: 0;
  left: 5;
  width: 90%;
  height: 100vh;
  animation: fade-in 0.5s ease-in-out forwards;
  padding: 4rem 4rem;
}


@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1; 
  }
}

@keyframes slide-up {
  to {
    top: unset;
    bottom: 20%;
  }
}

.modalContent.slide-down {
  animation-name: slide-down; 
  top: -400px;
  bottom: unset;
}

@keyframes slide-down {
  to {
    top: 40%;
  }
}
